<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Prijava</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <div class="ion-text-center ion-margin-bottom ion-padding-top">
    <h1>Dobrodošli</h1>
    <p>Mobilna aplikacija za praćenje porekla</p>
  </div>

  <form [formGroup]="credentialsForm">
    
    <ion-item fill="outline" class="ion-margin-bottom">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item fill="outline" class="ion-margin-bottom">
      <ion-label position="floating">Lozinka</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="login()">
      Prijavi se
    </ion-button>

    <div class="ion-text-center ion-margin-top">
      <p>Nemate nalog?</p>
      <ion-button fill="clear" routerLink="/register">
        Registrujte se ovde
      </ion-button>
    </div>

  </form>
</ion-content>