<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Registracija</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="registerForm">
    
    <ion-item fill="outline" class="ion-margin-bottom">
      <ion-label position="floating">Ime</ion-label>
      <ion-input type="text" formControlName="firstName"></ion-input>
    </ion-item>

    <ion-item fill="outline" class="ion-margin-bottom">
      <ion-label position="floating">Prezime</ion-label>
      <ion-input type="text" formControlName="lastName"></ion-input>
    </ion-item>

    <ion-item fill="outline" class="ion-margin-bottom">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item fill="outline" class="ion-margin-bottom">
      <ion-label position="floating">Lozinka</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
      <ion-note slot="error">Min. 6 karaktera</ion-note>
    </ion-item>

    <ion-button expand="block" (click)="register()">
      Kreiraj nalog
    </ion-button>

  </form>
</ion-content>