<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Novi Proizvod</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="productForm">
    
    <ion-item fill="outline" class="ion-margin-bottom">
      <ion-label position="floating">Naziv proizvoda</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>

    <ion-item fill="outline" class="ion-margin-bottom">
      <ion-label position="floating">Zemlja porekla</ion-label>
      <ion-input type="text" formControlName="origin"></ion-input>
    </ion-item>

    <ion-item fill="outline" class="ion-margin-bottom">
      <ion-label position="floating">Proizvođač</ion-label>
      <ion-input type="text" formControlName="manufacturer"></ion-input>
    </ion-item>

    <ion-item fill="outline" class="ion-margin-bottom">
      <ion-label position="floating">Cena (RSD)</ion-label>
      <ion-input type="number" formControlName="price"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="saveProduct()" [disabled]="!productForm.valid">
      Sačuvaj proizvod
    </ion-button>

  </form>
</ion-content>